{% extends 'html/base.html' %}
{% load static %}
{% block title %}Temperature{% endblock %}
{% block content %}
<div class="container" style="margin-top: 80px;">
    <div class="row justify-content-center">
        <h1 class="text-danger">{{cud}} {{curda}}</h1>
        <h1>
            <b class="text-success fst-italic">Climate of {{p}}</b>
        </h1>
        <div class="container">
            <div class="row"style="margin-top: 30px;">
                <div class="col-md-6">
                    <!-- Right side Tables -->
                    <div class="row">
                        <div class="col-md-6 table-small">
                            <table class="table rounded-table table-info table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-danger">Weather</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h2>{{w}}</h2>
                                            <h5 class="text-success">{{des}}</h5>
                                        </td>
                                    </tr>
                                    <!-- More rows as needed -->
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 table-small">
                            <table class="table rounded-table table-danger table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-danger">Temperature : <h2>{{ct}}&deg;c.</h2></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h5>Min_temp : {{mit}}&deg;c.</h5><br>
                                            <h5>Max_temp : {{mat}}&deg;c.</h5><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 table-small">
                            <table class="table rounded-table table-warning table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-info">Wind</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4>Speed: {{sp}}m/s</h4><br>
                                            <h5 class="text-success">clouds: {{cld}}% of the sky is covered by clouds.</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6 table-small">
                            <table class="table rounded-table table-primary table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-warning">More Deatails</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4>Humidity : {{hun}}</h4><br>
                                            <h4>Pressure : {{pre}}pha</h4><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}